name: Build

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Login to ghcr.io
      uses: docker/login-action@v1
      with:
        registry: ghcr.io
        username: ${{ secrets.GHCR_USERNAME }}
        password: ${{ secrets.GHCR_TOKEN }}

    - name: build and push
      run: 
       docker build -t ghcr.io/meerugin/hhh/main:1.0 ./python
       docker push ghcr.io/meerugin/hhh/main:1.0
       docker build -t ghcr.io/meerugin/hhh/index:1.0 ./node
       docker push ghcr.io/meerugin/hhh/index:1.0
